<%= form_with(model: @directory, local: true) do |form| %>
  <% if @directory.errors.any?%>
    <div style="color: red" >
      <h1><%= pluralize(@directory.errors.count," error") %> prohibited this file from being saved:</h1>

      <ul>
        <% @directory.errors.each do |error|%>
          <li><%= error.full_message%></li>
        <%end%>
      </ul>
    </div>
  <%end%>

  <%= form.hidden_field :parent_id %>
    <%= form.label :name%>
    <%= form.text_field :name %>

  <div>
    <%= form.submit "Stwórz" %>
  </div>
<% end %>
<%= link_to 'Back', @directory&.persisted? ? directory_path(@directory) : root_path %>