<!-- app/views/file_entries/edit.html.erb -->
<%= form_with(model: @file_entry, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', @file_entry.directory ? directory_path(@file_entry.directory) : root_path %>